* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-green-color: #25e6c8;
    --primary-blue-color: #2baaec;
    --primary-text-color: #626262;
    --primary-bg-color:#f7f7f7;
    --primary-title-color:#363636;
    --primary-placeholder1-color:#DEDEDE;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap');


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    background-color: var(--primary-bg-color);
}
html {
    
}



.container {
    width: 80%;
    margin: auto;
}
.container2 {
    width: 80%;
    margin: auto;
}
.d-flex {
    display: flex;
}
.flex-vertical {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.align-item-center {
    align-items: center;
}
.link-top {
    color: var(--primary-blue-color);
}
.link-top:hover {
    color: var(--primary-green-color)
}
.blue-font {
    color: var(--primary-blue-color)
}

/* NAV */

.topnav {
    justify-content: left;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
}
.list {
    list-style: none;
    padding: 0 0.7rem 0 0.7rem;
}
.navbar {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}

.navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary-title-color);
}
.navbar a:hover {
    text-decoration: underline;
}
.hamburger {
    display: none;
    width: 4rem;
    height: auto;
    align-items: center;

}

#logo {
    width: 15rem;
}

/* SHOWCASE */
#showcase {
    background-color: var(--primary-placeholder1-color);
    padding: 1rem 1rem 0 0;
    border: 0;
    /* width: auto; */
        /* display: flex; */
}

#showcase h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 4rem;
    font-weight: 300;
    padding: 0 0 3rem 0;
}
#showcase p {
    font-size: 1.3rem;
    padding: 0 0 3rem 0;
}
.extend-bg {
    background-color: var(--primary-placeholder1-color);
}

.btn-rectangular {
    color: #fff;
    padding: 0.7rem 2.5rem 0.8rem 2.5rem;
    border-radius: .5rem;
    border: 0;
    font-size: 1.3rem;
    background-color: var(--primary-blue-color);
}
.btn-rectangular:hover {
    background-color: var(--primary-green-color);
    cursor: pointer;
}
.placeholder1 {
    padding-right: 7.5rem;
    width: 40rem;
    height: auto;
}

/* ABOUT US */

#about_us {
    padding-top: 3rem;
}
#about_us hr {
    border: solid 3px;
    margin: 1rem 0 2rem 0;
    color: var(--primary-green-color);
}

.d-grid {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-text {
    grid-row: 1 / 2;
    width: auto;
    justify-content: left;
}
.grid-numbers {
    grid-row: 2 / 2;

}
.grid-picture {
    grid-row: 1 / span 2;
    height: auto;
    width: 100%;
}
.grid-text em {
    color: var(--primary-blue-color);
    font-style: normal;
}
.grid-text h2 {
    color: var(--primary-title-color);
    font-style: normal;
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: 300;
    padding-top: 2rem;
}
.grid-text p { 
    font-size: 1.   3rem;
    padding: 0 0 1rem 0;
    color: var(--primary-text-color)
}
.grid-numbers {
    justify-content: space-between;
    margin-right: 2rem;
}
.grid-numbers h3 {
    color: var(--primary-blue-color);
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    font-weight: 300;
}
.grid-numbers p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1rem;
    font-weight: 300;
}
.placeholder2 {
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100%;
    height: auto;
}

/* OUR SERVICES */

#services h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
}
#services hr {
    border: solid 3px;
    margin: 1rem 0 2rem 0;
    color: var(--primary-green-color);
}
.services-title h1 {
    display: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
}

.d-grid2 {
    display: grid;
    margin-top: 7rem;;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}
.grid2-item {
    background-color: #fff;
    min-width: 350px;
    min-height: 300px;
    padding: 4rem 2.5rem 4rem 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.grid2-item h2 {
    font-family: 'Roboto Slab', serif;
    color: var(--primary-title-color);
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    text-align: center  ;
}
.grid2-item a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
}
.grid2-item:hover {
    box-shadow: 0px 0px 25px #2c2c2c18;
    transition-duration: .01s;
    transition-delay: .6s;

}
.grid-btn {
    border-radius: 50%;
    padding: 1.5rem;
    justify-content: center;
    border: none;
    background-color: var(--primary-green-color);
}
/* .grid-btn:hover {
    background-color: var(--primary-blue-color);
    transform: scale(110%);
    transition: ease-out 170ms;
} */
.grid2-item:hover .grid-btn {
    background-color: var(--primary-blue-color);
    box-shadow: 0px 0px 0px 10px #31aaeb4b;
    transition: box-shadow .7s;
}
/* a.grid-fill {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
} */

/* APPOINTMENT */
#appointment {
    padding-top: 3rem;
}
.d-flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.appointment-bg-ext {
    background-color: var(--primary-blue-color);
    height: 10rem;
    align-items: center;
}
.appointment-txt {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    color: #fff;
}
.btn-rectangular2 {
    color: var(--primary-blue-color);
    padding: 0.7rem 2.5rem 0.8rem 2.5rem;
    border-radius: .5rem;
    font-size: 1.3rem;
    background-color: #fff;
    border: .2rem solid #fff;
    font-family: 'Roboto';
    font-weight: 600;
}
.btn-rectangular2:hover {
    background-color: var(--primary-blue-color);
    color: #fff;
    border: .2rem solid #fff;
    transition: ease-out .2s;
    cursor: pointer;
}

/* FOOTER */
#footer {
    background-color: #28a2e4;
    HEIGHT: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer p {
    font-size: 1rem;
    color: #fff;
}

/* @media (max-width: 700px) {
    .container {
        width: 100%;
    }
}
@media (max-width: 580px) {
    .container {
        width: 580px;
    }
} */
@media (max-width: 1356px) {
    #showcase h1 {
        font-size: 3.5rem;
        padding-bottom: 2rem;
    }
    #showcase p {
        padding-bottom: 2rem;
    }

    .placeholder1 {
        width: 35rem;
    }
    .container2 {
        width: 95%;
    }
}
@media (max-width: 1184px) {
    #showcase h1 {
        font-size: 3.0rem;
        padding-bottom: 1.5rem; 
    }
    #showcase p {
        font-size: 1.3rem;
        padding-bottom: 1.5rem;
    }
    .placeholder1 {
        width: 30rem;
        padding-right: 4rem;
    }
    .grid-numbers h3 {
        font-size: 2rem;
    }
    .grid-number p {
        font-size: .9rem;
    }
    .grid2-item {
        background-color: #fff;
        min-width: 300px;
        min-height: 300px;
        padding: 2rem 1.5rem 2rem 1.5rem;
    }
}
@media (max-width: 1019px) {
    #showcase h1 {
        font-size: 2.5rem;
        padding-bottom: 1.1rem; 
    }
    #showcase p {
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }
    .placeholder1 {
        width: 25rem;
        padding-right: 3rem;
    }
    .grid-numbers h3 {
        font-size: 1.5rem;
    }
    .grid-number p {
        font-size: .7rem;
    }
    .grid-text h2 {
        font-size: 2rem;
    }

    .placeholder2 {
        /* margin-left: 1rem; */
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .grid-picture {
        width: 100%;
        padding-top: 3rem;
    }
    .grid2-item {
        padding: 1rem .5rem 1rem .5rem;
    }
}
@media (max-width: 980px) {
    .grid2-item {
        min-width: 250px;
        min-height: 300px;
    }
    .grid2-item p {
        font-size: .8em;
    }
    .grid2-item h2 {
        font-size: 1rem;
    }
    .appointment-txt {
        font-size: 1.2rem;
    }
    .btn-rectangular2 {
        padding: 0.7rem 1rem 0.8rem 1rem;
    }
}

@media (max-width: 857px) {
    .placeholder1 {
        display: none;
    }
    .placeholder2 {
        display: none;
    }
    .btn-rectangular {
        margin-bottom: 2rem;
    }
    .navbar a {
        font-size: .9rem;
    }
    .list {
        padding: 0 0.3rem 0 0.3rem;
    }
    .d-flex2 {
        flex-direction: column;
        height: 6rem;
    }
    .appointment-bg-ext {
        height: auto;
        padding-bottom: 1rem;;
    }

}
@media (max-width: 830px) {
    .services-show {
        display: none;
    }
    .d-grid2 {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin-top: 2rem;
    }
    .services-title h1 {
        display: flex;
        margin-top: 4rem;
        justify-content: center;
    }
}
@media (max-width: 650px) {
    .topnav {
        display: none;
    }
    .list {
        display: none;
    }
    
    .hamburger {
        display: flex;
        
    }
}